@import "../styles/variables/Variables.scss";

body{
    font-family: $mainFont; 
    font-weight: bold;
    background-color: $backgroudnColor;
}

.TodoList{
    text-align: center;
    background-color: $greyColor;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    border-radius: 10px;
    padding: 2%;
}; 

.todo{
    margin-bottom: 2% ;
}

td{
    width: 100%;
}


